{% extends 'home.html' %}
{%load staticfiles%}
{% block content %}
<div class='col-md-12 well well-success help-block'>
<div class="col-md-12 well well-success help-block">
<p><span style="color:#ff0000"><span style="font-size:36px"><span style="font-family:Times New Roman,Times,serif">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></span></span><u><span style="color:#ff0000"><span style="font-size:36px"><span style="font-family:Times New Roman,Times,serif">MYSORE TRIP</span></span></span></u></p>
</div>

<p><br />
I wanted to visit close by places in Bangalore&nbsp;so I and my brother planned to visit Mysore by <a href="https://www.karnatakaholidays.net/city_holidays_mysore.htm" target="_self">KSTDC</a>&nbsp;</p>

<p>(Karnataka State Tourism Development Corporation) --&nbsp;&quot;Mysore Sight Seeing&quot;! package .&nbsp;</p>

<p>&nbsp;</p>

<p>The bus provided was very good and the driver was driving very safely.</p>

<p>&nbsp;</p>

<p>The guide was provided for tour, he&nbsp;was very friendly and&nbsp;&nbsp;informing us about next place we were to visit.</p>

<p>&nbsp;</p>

<p>Bus stops at kstdc official restaurants</p>

<p>&nbsp; &nbsp; - Karnataka Restaurant Maddur &nbsp;( at breakfast time&nbsp;)<br />
&nbsp; &nbsp; - Karnataka Hotels Mysore &nbsp;( at lunch time )</p>

<p>Food quality was good at both restaurants but food was not included in package, you have to buy food yourself&nbsp;</p>

<p>&nbsp;</p>

<p>They collect money for all tickets and other chrges beforehand in bus it self so you dont have to stand in queue and wait</p>

<p>&nbsp;</p>

<p>We found this trip very nice. The service provided by KSTDC was excellent.</p>

<p>&nbsp;</p>

<p><span style="font-size:18px"><strong>Timings</strong></span></p>

<table align="left" border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td>Departure</td>
			<td>06:30 am</td>
		</tr>
		<tr>
			<td>Arrival</td>
			<td>11:00 pm</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong><span style="font-size:18px">Fare (INR)</span></strong></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td>Delux</td>
			<td>Delux AC</td>
			<td>Volvo AC</td>
			<td>Multi - Axle</td>
		</tr>
		<tr>
			<td>640</td>
			<td>740</td>
			<td>850</td>
			<td>
			<p>900</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<table border="0" cellpadding="0" cellspacing="0" style="width:640px">
	<tbody>
		<tr>
			<td colspan="2"><span style="font-size:18px"><strong>Places Coverd in Tour (official)</strong></span></td>
		</tr>
		<tr>
			<td>06.30 am</td>
			<td>Departure from Badami House, Bangalore*</td>
		</tr>
		<tr>
			<td>08.45 am - 09.00 am</td>
			<td>Break on the way</td>
		</tr>
		<tr>
			<td>10.50 am - 12.10 pm</td>
			<td>Visit Tipu sultan summer palace, Sriranganatha Swamy Temple</td>
		</tr>
		<tr>
			<td>12.30 pm - 01.15 pm</td>
			<td>Visit St. Philomena&#39;s Church, Mysore &amp; Shopping</td>
		</tr>
		<tr>
			<td>01.35 pm - 02.00 pm</td>
			<td>Visit Chamundi Temple, Mysore</td>
		</tr>
		<tr>
			<td>02.30 pm - 03.15 pm</td>
			<td>Lunch</td>
		</tr>
		<tr>
			<td>03.30 pm - 04.15 pm</td>
			<td>Visit Mysore Palace</td>
		</tr>
		<tr>
			<td>04.25 pm - 05.15 pm</td>
			<td>Visit Zoological Garden</td>
		</tr>
		<tr>
			<td>06.00 pm - 07.45 pm</td>
			<td>Visit Illuminated Brindavan Gardens</td>
		</tr>
		<tr>
			<td>09.15 pm - 09.45 pm</td>
			<td>Dinner at Maddur</td>
		</tr>
		<tr>
			<td>11.30 pm</td>
			<td>Tour ends at Badami House, Bangalore</td>
		</tr>
	</tbody>
</table>

</div>
{% endblock %}