{% extends 'home.html' %}
{%load staticfiles%}
{% block content %}
    <div class="set-margin-top">
        <div class="col-md-10 col-md-offset-1 well well-success">
            <span class="col-md-4">
                <img src='{% static "images\mysore.jpg" %}' alt="image1" height="100%" width="100%" />
            </span>
            <span class="col-md-8">
                <article class="BlogArticle">
                    <span>
                        <a href="#" style="color: red">
                            <h3>Mysore Trip</h3>
                        </a>
                        <div>
                            <span class="author-info">
                                <i class="fa fa-user"></i>
                                <a href="#">
                                    <abbr title="user" style="border-bottom: none">
                                        {{ Admin }}
                                    </abbr>
                                </a>

                            </span>
                            <span class="set-margin-top">
                                <i class="fa fa-clock-o"></i>
                                <a href="#">
                                    <abbr title="time" style="border-bottom: none">
                                        {{ time }}
                                    </abbr>
                                </a>
                            </span>
                            <span class="comment-info">
                                <i class="fa fa-comments-o"></i>
                                <a href="#">
                                    <abbr title="comments" style="border-bottom: none">
                                        {{ comment_count }}
                                    </abbr>
                                </a>
                            </span>
                        </div>
                        <div class="Blog-Description">
                            <p> A one-day tour covering Srirangapatna & Mysore.
                                The destinations include Daria Daulat, Gumbaz, Sri Ranganatha Swamy Temple,
                                Amba Vilas Palace (Mysore), St. Philomena's Church, Chamundi Hills,
                                Mysore Zoo, Jagan Mohan Palace Art Gallery and Brindavan Gardens. </p>
                        </div>
                        <div>
                            <a href="#">
                                <button type="button" class="btn btn-success">Read More</button>
                            </a>
                        </div>
                    <span>
                </article>
            </span>
        </div>
    </div>
{% endblock %}