<!DOCTYPE html>
{%load staticfiles%}

<html lang='en'>
    <head>
        <title>My Blog</title>
        <meta name="description" content="My Bolg Home Page"/>
        <meta name='Author' content='Vaibhav'/>
        <meta charset="utf-8;" />
        <script src='{% static "local_files\js\jquery-3.1.0.js" %}'></script>
        <link rel="stylesheet" href='{% static "font-awesome\css\font-awesome.min.css" %}'/>
        <link rel="stylesheet" href='{% static "bootstrap\css\bootstrap.css" %}' />
        <link rel="stylesheet" href='{% static "local_files\css\home.css" %}' />
        <script src="{% static "local_files\js\local-jquery.js" %}"></script>
{#        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
        {% block script %}
            {% endblock %}
    </head>
    
    <body>
        <div class="container">
            <div class="row" id="BodyContainer">
                <div class="col-md-5">
                    <img  id="Logo" class="img-thumbnail img-responsive" height="100px" width="100px" src='{% static "local_files\logo.jpg" %}' alt="Vaibhav"/>
                </div>
                <div class="navbar navbar-default col-md-6" id="HomePageNavBar">
                    <ul class="nav navbar-nav nav-hover" id="HomePageNavItem">
                        <li ><a href='/home' class="btn btn-font-size btn-border btn-md link-align">Home</a></li >
                        <li ><a href='/addblog' class="btn btn-font-size btn-border btn-md link-align">Add Blog</a></li>
                        <li ><a href='/home' class="btn btn-font-size btn-border btn-md link-align">Contact</a></li>
                        <li ><a href='/logout' class="btn btn-font-size btn-border btn-md link-align">Logout</a></li>
{#                        <li ><a class="btn btn-border btn-font-size btn-md link-align" data-toggle="modal" data-target="#LoginModal" >Login</a></li>#}
                    </ul>
                </div>
            </div>
            <div class="alert alert-success success-message">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong class="sucess-message">Success!</strong>
            </div>
            {% block content %}
            {% endblock %}
        </div>
{#        <div id="LoginModal" class="modal fade" role="dialog">#}
{#            <div class="modal-dialog modal-size">#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#                        <h4 class="modal-title">Login</h4>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        <form class="form-horizontal form-hover">#}
{#                            <div>#}
{#                                <label for="uname">UserName*</label>#}
{#                                <div>#}
{#                                    <input id="uname" class="input-xlarge form-control" type="text" placeholder=" " name="uname" required>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div >#}
{#                                <label for="pwd">Password*</label>#}
{#                                <div>#}
{#                                    <input id="pwd" class="input-xlarge form-control" type="password" placeholder=" " name="pwd" required>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div>#}
{#                                <div class="checkbox">#}
{#                                    <label><input type="checkbox" checked="checked">Remember me</label>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div>#}
{#                                    <span>#}
{#                                        <button type="submit" class="btn btn-warning" tabindex="-1">Login</button>#}
{#                                    </span>#}
{#                                    <span>#}
{#                                        <button type="submit" class="btn btn-success" tabindex="-1" data-dismiss="modal" data-toggle="modal" data-target="#RegisterModal" >Register</button>#}
{#                                    </span>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div id="RegisterModal" class="modal fade" role="dialog">#}
{#            <div class="modal-dialog modal-size">#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <button type="button" id="reg-close" class="close" data-dismiss="modal">&times;</button>#}
{#                        <h4 class="modal-title">Registration</h4>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        <form id="reg-form-id" class="register-form form-horizontal form-hover" action="{% url 'Register' %}" method="POST">#}
{#                            <div>#}
{#                                <label for="usrname">User Name*</label>#}
{#                                <div>#}
{#                                    <input id="usrname" class="input-xlarge form-control" type="text" placeholder="" name="usrname" onfocus="onFocusToUsername(this)" required>#}
{#                                    <button class="btn btn-info set-margin-top" id='check_username_availability' >Check Availability</button>#}
{#                                    <span class="user-exist-tag">#}
{#                                        <span class="arrow-up" ></span>#}
{#                                        <label class="user-exist-msg">Username not available</label>#}
{#                                    </span>#}
{#                                </div>#}
{#                                <label for="fname">Name*</label>#}
{#                                <div>#}
{#                                    <input id="fname" class="input-xlarge form-control" type="text" placeholder="" name="fname" required>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div>#}
{#                                <label for="email">E-mail*</label>#}
{#                                <div>#}
{#                                    <input type="email" id="email" name="email" placeholder="" class="input-xlarge form-control" required>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div>#}
{#                                <label for="password">Password*</label>#}
{#                                <div>#}
{#                                    <input type="password" id="password" name="password" placeholder="" class="input-xlarge form-control" required>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div>#}
{#                                <label for="password_confirm">Password (Confirm)*</label>#}
{#                                <div>#}
{#                                    <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge form-control" required>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div>#}
{#                                <label class="set-margin-top">#}
{#                                    <button class="btn btn-success register-form-submit" tabindex="-1">Register</button>#}
{#                                </label>#}
{#                                <span class="password-mismatch-tag">#}
{#                                        <span class="arrow-up-pass" ></span>#}
{#                                        <label class="pass-mismatch">Password Not matched</label>#}
{#                                </span>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

    </body>
</html>