<!DOCTYPE html>
{%load staticfiles%}

<html lang='en'>
    <head>
        <title>Vaibhav Diaries</title>
        <meta name="description" content="My Bolg Home Page"/>
        <meta name='Author' content='Vaibhav'/>
        <meta charset="utf-8;" />
        <script src='{% static "local_files\js\jquery-3.1.0.js" %}'></script>
        <link rel="stylesheet" href='{% static "font-awesome\css\font-awesome.min.css" %}'/>
        <link rel="stylesheet" href='{% static "bootstrap\css\bootstrap.min.css" %}' />
        <link rel="stylesheet" href='{% static "local_files\css\home.css" %}' />
        <script src="{% static "bootstrap\js\bootstrap.min.js" %}"></script>
        <script src="{% static "local_files\js\local-jquery.js" %}"></script>
        {% block script %}
            {% endblock %}
    </head>
    
    <body class="body-color">
        <div class="container">
            <div class="row" id="BodyContainer">
                <div class="col-md-5">
                    <a href="/home">
                        <img  id="Logo" class="img-thumbnail img-responsive" height="100px" width="100px" src='{% static "local_files\logo.jpg" %}' alt="Vaibhav"/>
                    </a>
                </div>
                <div class="navbar navbar-default col-md-6" id="HomePageNavBar">
                    <ul class="nav navbar-nav nav-hover" id="HomePageNavItem">
                        <li class="home"><a href='/home' class="menu btn btn-font-size btn-border btn-md link-align main-active">Home</a></li >
                        {% if not_logged %}
                            <li class="contacts"><a href='#' class="menu btn btn-font-size btn-border btn-md link-align">Contact</a></li>
                            <li class="login"><a href='/admin' class="menu btn btn-font-size btn-border btn-md link-align">Log In</a></li>
                        {% else %}
                            <li class="addblog"><a href='/addblog' class="menu btn btn-font-size btn-border btn-md link-align">Add Blog</a></li>
                            <li class="contacts"><a href='#' class="menu btn btn-font-size btn-border btn-md link-align">Contact</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle"
                                    data-toggle="dropdown"
                                    href="#"
                                   style=" background-color: darkgray; color: white ">
                                    {{ loggedname }}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/userprofile">Profile</a></li>
                                    <li class="logout"><a href='/logout'>Logout</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="alert alert-success success-message">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong class="sucess-message">Success!</strong>
            </div>
        </div>
        <div class="container content-color">
            <div>
                {% block content %}
                {% endblock %}
                {% if show_comment %}
                <div class='col-md-12 well well-success help-block'>
                    {% include 'comments.html' %}
                </div>
                {% endif %}
            </div>
        </div>
    </body>
</html>